body{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    margin-bottom: 0;
}
.nav{
    background-color: pink;
    height: 9.54rem;
    width: 19rem;
}
.header{
    background-color: yellow;
    height: 9.54rem;
    width: 76rem;
}
.article{
    background-color: whitesmoke;
    height: 30rem;
    width: 59rem;
}
.Nav{
    background-color: pink;
    height: 30rem;
    width: 19rem;
}
.aside{
    background-color: aqua;
    height: 30rem;
    width: 17rem;
}
.footer{
    background-color: yellow;
    height: 9.54rem;
    width: 76rem;
}
.nAv{
    background-color: pink;
    height: 9.54rem;
    width: 19rem;
}