body{
    background-color: pink;
    margin: 1rem;
}
.container{
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
}
.header{
    background-color: lightblue;
    height: 5rem;
    width: 100%;
}
.aside{
    background-color: darkcyan;
    height: 30rem;
    width: 17rem;
}
.article{
    background-color: brown;
    height: 30rem;
    width: 75rem;
    position: relative;
}
.footer{
    background-color: lightblue;
    height: 5rem;
    width: 100%;
}
img{
    height: 10vw;
    margin: 20px;
    bottom: 12rem;
}